<footer class="footer">
  <section class="footer-wrapper">
    <p>Proyecto Integrador </p>
    <p>por <strong>Martina Goyanes Daitter</strong> & <strong>Pilar Gomez</strong></p>
    <p>Universidad de San Andrés – 2025</p>
  </section>
  </footer>
  