<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoPerfumeria.png" />

	<title>L'Essence</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/css/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header")  %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="containerproducts-wrapper">
		<div class="row-container">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/" method="post" class="form-login">
				<div>
				  <label for="usuario">Usuario (email):</label>
				  <input type="email" name="usuario" id="usuario" placeholder="Email" required>
				</div>
				<div>
				  <label for="contrasena">Contraseña:</label>
				  <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" required>
				</div>
			  
				<div>
				  <label>
					<input type="checkbox" name="recordarme"> Recordarme
				  </label>
				</div>
			  
				<button type="submit">Iniciar sesión</button>
			  </form>
			  


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>